
    <div class="title">
    <h1><a href="#home">copyPaste</a></h1>
    </div>
		<ul>			
			<li><a href="login.htm">LOGIN</a></li>
		</ul>
    <br>

    <div class="about">
    <p>
      <strong>copyPaste</strong> is a simple platform where you can store your 
      text data and access on any device you login. You just need to remember 
      your <i>email</i> and <i>password</i> then access your data on the go.<br><br>
      To use our service you need to <strong>signup</strong> first.
    </p>
    </div>
    <br>

		<form>
			<label for="copyPaste">Enter your data here</label>
      <br>
			<input type="text" id="copyPaste" size="100px">
			<br><br>
			<div class="signup-button"><a href="signup">signup</a></div>
		</form>
